force-app/main/default/flows/Bulk_SMS_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Bulk_SMS_Action</name>
        <label>Send Bulk SMS Action</label>
        <locationX>176</locationX>
        <locationY>550</locationY>
        <actionName>flowSMSSender</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Results</targetReference>
        </connector>
        <inputParameters>
            <name>contextData</name>
            <value>
                <elementReference>SMSContextString</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Build_Contact_IDs_String</name>
        <label>Build Contact IDs String</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ContactIdsString</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_ID_To_String</name>
        <label>Add Contact ID To String</label>
        <locationX>50</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>ContactIdsString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactIdsString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Context_String</name>
        <label>Create Context String</label>
        <locationX>176</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>SMSContextString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactIdsString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSContextString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>|||</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSContextString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UseTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSContextString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> ? </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSContextString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSContextString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> : </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSContextString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MessageText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSContextString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>|||</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSContextString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FromAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Bulk_SMS_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Message_Type</name>
        <label>Check Message Type</label>
        <locationX>176</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>SMS_Options_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Custom Message</defaultConnectorLabel>
        <rules>
            <name>Use_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UseTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Contact_IDs_String</targetReference>
            </connector>
            <label>Use Template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Results</name>
        <label>Check Results</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success</defaultConnectorLabel>
        <rules>
            <name>Has_Errors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Bulk_SMS_Action</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Has Errors</label>
        </rules>
    </decisions>
    <label>Bulk SMS Screen Flow</label>
    <loops>
        <name>Loop_Contact_IDs</name>
        <label>Loop Contact IDs</label>
        <locationX>176</locationX>
        <locationY>400</locationY>
        <assignNextValueToReference>CurrentContactId</assignNextValueToReference>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_ID_To_String</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Context_String</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <screens>
        <name>Template_Selection_Screen</name>
        <label>Template Selection Screen</label>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Message_Type</targetReference>
        </connector>
        <fields>
            <name>UseTemplate</name>
            <dataType>Boolean</dataType>
            <fieldText>Use SMS Template</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Toggle on to use a predefined SMS template, or toggle off to enter a custom message</helpText>
        </fields>
        <fields>
            <name>SelectedTemplate</name>
            <choiceReferences>SMS_Template_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select SMS Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Choose from available SMS templates</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UseTemplate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TemplateInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;📱 SMS Template Options&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Choose whether to use a predefined template or create a custom message. Templates ensure consistent messaging and can include dynamic fields.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SMS_Options_Screen</name>
        <label>SMS Options Screen</label>
        <locationX>176</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Build_Contact_IDs_String</targetReference>
        </connector>
        <fields>
            <name>MessageText</name>
            <dataType>String</dataType>
            <fieldText>SMS Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Enter your SMS message (recommended 160 characters or less for single segment)</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FromAddress</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>+1234567890</stringValue>
            </defaultValue>
            <fieldText>From Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Phone number that will appear as the sender</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactInfo</name>
            <fieldText>Selected contacts will receive this SMS message</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>700</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;✅ Bulk SMS Sent Successfully!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Your SMS messages have been queued for delivery through Genesys Cloud:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Message:&lt;/b&gt; {!MessageText}&lt;/li&gt;&lt;li&gt;&lt;b&gt;From:&lt;/b&gt; {!FromAddress}&lt;/li&gt;&lt;li&gt;&lt;b&gt;Recipients:&lt;/b&gt; Selected contact(s)&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style="color: #0070d2;"&gt;📱 Check SMS History related lists on Contact records for delivery status.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>302</locationX>
        <locationY>700</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;⚠️ SMS Sending Error&lt;/b&gt;&lt;/p&gt;&lt;p&gt;There was an issue sending some SMS messages. Please check:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Contact phone numbers are valid&lt;/li&gt;&lt;li&gt;Contacts have not opted out of SMS&lt;/li&gt;&lt;li&gt;Genesys Cloud connection is working&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Check SMS Log records for detailed error information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Template_Selection_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <dynamicChoiceSets>
        <name>SMS_Template_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>SMS_Template__mdt</object>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>    
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMSContextString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIdsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
